<link rel="stylesheet" href="../content/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
  <h1>BAND TRACKER</h1>
  <hr />
  <h2>List of Bands:</h2>
  @if (Model.Count != 0)
  {
    <ul>
      @foreach (var band in Model)
      {
        <li>
          <a href="/bands/@band.GetId()">@band.GetName()</a> |
          <a href="/bands/@band.GetId()/update">Update</a> |
          <a href="/bands/@band.GetId()/delete">Delete</a>
        </li>
      }
    </ul>
  }
  else
  {
    <h3>No Current Bands!</h3>
  }
  <br>
  <form action="/bands/new" method="post">
    <label for="band-name">Band Name:</label>
    <input type="text" name="band-name">
    <button type="submit">Add</button>
  </form>
  <br>
  <br>
  <h2><a href="/">Back to Main Page</a></h2>
</body>
