<link rel="stylesheet" href="../content/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
  <h1>BAND TRACKER</h1>
  <hr />
  <h2>UPDATE BANDS: </h2>
  <br>
  <h2>Edit Band: @Model.GetName()</h2>
  <br>
  <form action="/bands/@Model.GetId()/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label for ="new-name">New Name:</label>
    <input required name="new-name" type="text">
    <button type="submit">Edit</button>
  </form>
  <hr>
  <h2><a href="/bands/">View all bands</a></h2>
  <br>
  <hr />
  <br>
  <h2>UPDATE VENUE: </h2>
  <br>
  <h2>Edit Venue: @Model.GetName()</h2>
  <br>
  <form action="/venues/@Model.GetId()/update" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label for ="new-name">New Name:</label>
    <input required name="new-name" type="text">
    <button type="submit">Edit</button>
  </form>
  <br>
  <h2><a href="/venue_delete">Delete Band from Venues</a></h2>
  <br>
  <h2><a href="/venues/">View all venues</a></h2>
  <br>
  <h2><a href="/">Back to Main Page</a></h2>
</body>
