@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>Add a Venue</h2>

<form action="/venues/add" method="post">
  <label for="venue_name">Venue Name: </label>
  <input type="text" name="venue_name" required>
  <button type="submit" name="button">Add This Venue</button>
</form>

<h2>Edit venue @Model.GetName()</h2>
<form action="/venue/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="venue_id" type="hidden" value="@Model.GetId()">
  <label for="venue_name">Venue name</label>
  <input id="venue_name" name="venue_name" type="text">
  <button type="submit">Edit</button>
</form>
<a href="/">Back to Main Page</a>
