<link rel="stylesheet" href="../content/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
  <h1>BAND TRACKER</h1>
  <hr />
  <h2>Are you sure you want to delete the group <strong>@Model["band"].GetName()</strong> from <strong>@Model["venue"].GetName()?</strong></h2>
  <form action="/venues/@Model["venue"].GetId()/venue_delete/@Model["band"].GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
  <hr/>
  <h2><a href="/venues/@Model["venue"].GetId()">Go Back</a></h2>
  <br>
  <h2><a href="/">Back to Main Page</a></h2>
</body>
